@using Microsoft.AspNetCore.Html
@model ZBlog.ViewModel.HomeCategoryViewModel 


@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">
                分类
                <small>@Model.Category.SlugName</small>
            </h1>
            @foreach (var modelArticle in Model.Articles)
            {
                <!-- Blog Post -->
                <div class="card mb-4">
                    @* <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> *@
                    <div class="card-body">
                        <h2 class="card-title">@modelArticle.Title</h2>
                        <p class="card-text">@(new HtmlString(modelArticle.Context)) </p>
                        <a asp-action="@modelArticle.Slug" asp-controller="Post" class="btn btn-primary">更多 &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on @modelArticle.UpdatedAt.ToLongDateString() by
                        <span >ZBlog</span>
                    </div>
                </div>
            }
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item @(Model.Articles.HasNextPage ? "" : "disabled") ">
                    @* <a class="page-link" *@
                    @*    asp-controller="Home" *@
                    @*    asp-action="Index" *@
                    @*     asp-route-page="@Model.PageIndex-1" *@
                    @*    href="#"> *@
                    @*     &larr; 上一页 *@
                    @* </a> *@
                </li>
                <li class="page-item @(Model.Articles.HasNextPage ? "" : "disabled")  ">
                    @* <a class="page-link" *@
                    @*    asp-controller="Home" *@
                    @*    asp-action="Index" *@
                    @*    asp-route-size="1"> *@
                    @*    $1$ asp-route-page="@Model.PageIndex+1"> #1# *@
                    @*     下一页 &rarr; *@
                    @* </a> *@
                </li>
            </ul>
        </div>
        @await Html.PartialAsync("_Sidebar")
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@