@model List<ZBlog.Model.Link>
@{
    ViewData["Title"] = "链接";
}
<h1>@ViewData["Title"]</h1>

@foreach (var link in Model)
{
    <div>
        <span>@link.Logo</span>
        <span>
            <span>@link.Name</span>
            <br>
            <a>@link.Url</a>
        </span>
    </div>
    <p>@link.Description</p>
}