@using ZBlog.Config
@using Microsoft.AspNetCore.Mvc.Rendering
@model ZBlog.Areas.Admin.Dtos.PostDto

@{
    ViewData["Title"] = "详情";
}

<h1>详情</h1>

<div>
    <h4>文章</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DropDownListFor(model => model.Status, Html.GetEnumSelectList<PostType>(),null,new {disabled=true})
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">修改</a> |
    <a asp-action="Index">返回列表</a>
</div>