@model ZBlog.Model.Article
@using ZBlog.Data
@using ZBlog.Utils
@using System.Security.Claims

@inject ZBlogContext _context
@{
    var comments = _context.Comments.OrderByDescending(item => item.CreateTime).Where(item => item.PostId == Model.Id);
    // var nickName = User.FindFirst("NickName").Value;
    // var email = User.FindFirst(ClaimTypes.Email).Value;
}

@foreach (var comment in comments)
{
    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="@(GravatarUtils.getGravatar(comment.Email))" alt="">
        <div class="media-body">

            <h5 class="mt-0">@comment.NickName</h5>
            <h6>@comment.CreateTime.ToString("yyyy-MM-dd  HH:mm:ss")</h6>
            @comment.Content
@* *@
@*             @if (comment.Reply != null) *@
@*             { *@
@*                 <div class="media mt-4"> *@
@*                     <img class="d-flex mr-3 rounded-circle" src="@(GravatarUtils.getGravatar(email))" alt=""> *@
@*                     <div class="media-body"> *@
@*                         <h5 class="mt-0">@nickName</h5> *@
@*                         @comment.Reply *@
@*                     </div> *@
@*                 </div> *@
@*             } *@

        </div>
    </div>
}